<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/easion.css}" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script th:src="@{/js/chart-js-config.js}" ></script>
    <title>Router Game Server Sea Lion Entertainment Studio</title>
</head>

<body>
<div class="dash">


    <!-- 	menu de navegación 	header init -->
    <div th:replace="fragments/dash-nav :: dash-nav-fragment">... </div>
    <!-- 	menu de navegación 	header end -->


    <div class="dash-app" style="margin-left: 380px; margin-top: 5px;">

        <main class="dash-content">
            <div class="container-fluid">
                <h1 class="dash-title">Game Server Profiles List</h1>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="card easion-card">
                            <div class="card-header">
                                <div class="easion-card-icon">
                                    <i class="fas fa-table"></i>
                                </div>
                                <div class="easion-card-title">Table Profile Manager</div>
                            </div>
                            <div class="card-body ">
                                <table class="table table-hover table-in-card">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Facebook Id</th>
                                        <th scope="col">Creation Date</th>
                                        <th scope="col">Guest Id</th>
                                        <th scope="col">Game Name</th>
                                        <th scope="col">Language</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="profile : ${ptofilesList}">
                                        <th th:text="${profile.name}">1</th>
                                        <td th:text="${profile.email}">Mark</td>
                                        <td th:text="${profile.facebookUserId}">Otto</td>
                                        <td th:text="${profile.creationDate}">@mdo</td>
                                        <td th:text="${profile.guestUserId}">@mdo</td>
                                        <td th:text="${profile.gameName}">@mdo</td>
                                        <td th:text="${profile.language}">@mdo</td>
                                        <form action="#" th:action="@{/game/server/profile/delete(id=${profile.id})}" method="post">
                                            <td><button type="submit" class="btn btn-danger mb-1">Danger</button></td>
                                        </form>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>




                    </div>




                </div>




            </div>
        </main>
    </div>



</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:src="@{/js/easion.js}" ></script>
</body>

</html>